body {
    background-color:rgb(61, 70, 78);
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    flex-direction: column;
    gap: 30px;
}
input {
    width: 200px;
    height: 40px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    padding-right: 75px;
}
#bolso12 {
    display:flex;
    color: rgb(251, 251, 251);
    text-decoration: underline green;
}
.tam {
    font-size: 25px;
    text-decoration: underline green;
}
.cu {
    display: flex;
    justify-content: center;
    color: rgb(251, 251, 251);
}